<%= render :partial => 'home/check_for_errors', :locals => {:data_source => @user}  %>

<%= form_for :user do |f| %>
  <p class="PetitionTitle">
   <% if session[:user_id] %>
    Pick a new password for <span> <%= User.find(:first, :conditions => ['user_id = ?', session[:user_id]]).email %></span>
  <% end %>
  </p>

  <p class="PetitionTitle">
    <label for="password"><span title="Password is required. Please no fewer than 8 characters and no more than 16.">Password: </span></label>&nbsp;<%= f.password_field(:password, :maxlength =>16) %>
  </p>

  <p class="PetitionTitle">
    <label for="password_confirmation"><span title="Password and Confirm Password must match.">Confirm Password: </span></label>&nbsp;<%= f.password_field(:password_confirmation, :maxlength =>16) %>
  </p>


  <p class="PetitionTitle">
    <%= submit_tag 'Reset', { :class => 'button_style'} %>
    <%= link_to 'Changed my Mind', root_url, { :class => 'button_style'} %>
  </p>
<% end %>