<div  class="footer_title" style="text-align:left;">
  <p>Links to others concerned about Uranium Mining in Virginia:&nbsp;&nbsp;

  <%= link_to "Southside Virginia Against Uranium Mining", 'http://sccagainsturanium.blogspot.com/2009/08/sen-creigh-deeds-talks-sense-on-uranium_07.html',  :target => '_blank' %>&nbsp;&nbsp;
  <%= link_to "Southern Environmental Law Center", 'http://www.southernenvironment.org',  :target => '_blank' %>&nbsp;&nbsp;
    <%= link_to "Virginia Against Uranium Mining", "http://virginiaagainsturanium.blogspot.com/",  :target => '_blank' %>&nbsp;&nbsp;
    <%= link_to "The Virginia Coalition: Read the Reports", "http://www.readthereports.org",  :target => '_blank' %>&nbsp;&nbsp;
    <%= link_to "Common Health", "http://www.commonhealthva.org ",  :target => '_blank' %>&nbsp;&nbsp;
 <%= link_to "Piedmont Environmental Council", "http://www.pecva.org",  :target => '_blank' %>&nbsp;&nbsp;
 <%= link_to  "Dan River Basin Association", "http://www.danriver.org/", :target=>"_blank" %>&nbsp;&nbsp;
 <%= link_to  "League of Individuals for the Environment", "http://lifeincva.blogspot.com/", :target=>"_blank" %>&nbsp;&nbsp;
 <%= link_to  "Piedmont Residents in Defense of the Environment", "http://prideva.blogspot.com/", :target=>"_blank" %>&nbsp;&nbsp;
 <%= link_to  "Virginia Conservation Network", "http://www.vcnva.org/index.php/our-work/healthy-rivers/uranium-mining", :target=>"_blank" %>&nbsp;&nbsp;
 <%= link_to  "Virginia Interfaith Power and Light", "http://www.vipl.org/PublicPolicy/UraniumMiningBan/tabid/892/Default.aspx", :target=>"_blank" %>&nbsp;&nbsp;
 <%= link_to  "Virginia League of Conservation Voters", "http://valcv.org/", :target=>"_blank" %>

</p>


</div>