<script>
  $(document).ready(function() {
    $("#current_comment").change();
  });

</script>

<% @look_up_perspectives = Perspectives.find(:first, :readonly => true, :conditions => ['p_uuid = ?', params[:id]])  %>


<div id="about_this_site" style="height:auto;text-align:left;padding-left:25px;padding-right:25px;padding-bottom:25px;BORDER: 1px solid;BORDER-COLOR:lightgray;background-color: transparent;">
  <p class="PetitionTitleText">Responding to the following Perspective: </p>
  <p class="PetitionTitleText">Offered by: <%= User.find(@look_up_perspectives[:user_id]).user_alias %></p>
  <p class="PetitionTitleText">Perspective statement:<textarea readonly rows=4 cols=50><%= @look_up_perspectives[:record_text].to_s %></textarea></p>
</div>
<br/>
<% @look_up_perspectives = nil %>
<div id="about_this_site" style="text-align:left;padding-left:25px;padding-right:25px;padding-bottom:25px;BORDER: 1px solid;BORDER-COLOR:lightgray;background-color: transparent;">
  <%= form_for(:comments, :url => {:controller => 'contributions',  :action => 'create'}) do |item| %>
    <%= render :partial => 'home/check_for_errors', :locals => {:data_source => @contributions}  %>
    <p class="PetitionTitleText">Your alias: <%=  User.find(session[:user_id]).user_alias %></p>
    <p class="PetitionTitleText">Your email: <%=  User.find(session[:user_id]).email %></p>
    <p class="PetitionTitleText"><span title="Response is required.  Please no more than 255 characters.">Response:</span><%= item.text_area(:record_text, :size => "12X12",:maxlength =>255,:id=> "current_comment" ) %></p>
    <p  class="PetitionTitleText" ><span title="Count excludes carriage returns." >Approximate Characters Remaining: </span><label id="current_comment_count" >255</label></p>

    <%=  item.hidden_field(:remote_ip, :value => request.remote_ip.to_s) %>
    <%=  item.hidden_field( :p_uuid, :value => params[:id].to_s) %>

    <%= submit_tag "Submit Response" , {:class=>"button_style" } %>&nbsp
    <%= link_to  "Changed My Mind", perspectives_show_url, {:class=>"button_style"} %>&nbsp

  <% end %>
</div>


